Repository pvogt09/gammasyn, changes with the labels that .github/labeler.yml gives for each.
All labels: Feature:Area, Feature:Documentation, Feature:gammasyn, Feature:optimize, Feature:OutputFeedback, Feature:oplace, Feature:CodeGeneration, Feature:Couplingcontrol, Feature:CI

.github/labeler.yml:

Feature:Area:
  - +control/+design/+area/*
  - +control/+design/+area/**/*
Feature:Documentation:
  - docs/**/*
  - README.md
  - README.tex.md
  - README.md.tex
Feature:gammasyn:
  - +control/+design/+gamma/gammsyn.m
Feature:optimize:
  - +optimization/*
  - +optimization/**/*
  - lib/optimization/*
  - lib/optimization/**/*
Feature:OutputFeedback:
  - +control/+design/+outputfeedback/*
  - +control/+design/+outputfeedback/**/*
Feature:oplace:
  - lib/oplace/*
  - lib/oplace/**/*
Feature:CodeGeneration:
  - +compile/*
  - +compile/**/*
Feature:Couplingcontrol:
  - +control/+design/+gamma/gammsyn_coupling.m
  - +control/+design/+gamma/objectiveoptions_prototype_coupling.m
  - +control/+design/+gamma/private/calculate_coupling_conditions.m
  - +control/+design/+gamma/private/checkobjectiveoptions_coupling
  - +control/+design/+gamma/private/coupling_RF_fixed.m
  - +control/+design/+gamma/private/coupling_vectorTwoNorm.m
  - +control/+design/+gamma/private/GammaCouplingStrategy_needscouplingconditions.m
  - +control/+design/+outputfeedback/AbstractCouplingFeedback.m
  - +control/+design/+outputfeedback/OutputCouplingStateFeedback.m
  - +control/+design/+outputfeedback/StateCouplingStateFeedback.m
  - mex/control/design/gamma/GammaCouplingStrategy.m
Feature:CI:
  - .github/**/*
  - .stickler

corrects indentation in texify action
  .github/workflows/markdown_math.yml
Labels: Feature:CI

adds signoff option to commit action
  .github/workflows/markdown_math.yml
Labels: Feature:CI

adds conditions for pull requests and push events to update links to target
  .github/workflows/markdown_math.yml
  docs/markdown_gitlab2github.sh
Labels: Feature:Documentation, Feature:CI

correct syntax errors
  .github/workflows/markdown_math.yml
  docs/markdown_gitlab2github.sh
Labels: Feature:Documentation, Feature:CI

changes target barnch for automatic commit
  .github/workflows/markdown_math.yml
Labels: Feature:CI

splits texify workflow to push and pull_request and uses PR creation instead of commit
  .github/workflows/markdown_math_pull_request.yml
  .github/workflows/markdown_math_push.yml
Labels: Feature:CI

changes checked out commit to base branch in texify workflow
  .github/workflows/markdown_math_pull_request.yml
Labels: Feature:CI

adds new branch */docs for PR in workflow
  .github/workflows/markdown_math_pull_request.yml
Labels: Feature:CI

adds GITHUB_TOKEN and chek for local PRs to texify workflow
  .github/workflows/markdown_math_pull_request.yml
Labels: Feature:CI

changes PR base name for texify workflow
  .github/workflows/markdown_math_pull_request.yml
Labels: Feature:CI

changes PR action to local repository
  .github/workflows/markdown_math_pull_request.yml
Labels: Feature:CI

adds base branch to PR description
  .github/workflows/markdown_math_pull_request.yml
Labels: Feature:CI

adds syntax highlighting to branch name
  .github/workflows/markdown_math_pull_request.yml
Labels: Feature:CI

corrects test logic for string variables
  docs/markdown_gitlab2github.sh
Labels: Feature:Documentation

updates math for documentation
  README.md
Labels: Feature:Documentation

updates math for documentation
  README.md
Labels: Feature:Documentation

removes texify action on push
  .github/workflows-deactivated/markdown_math_push.yml
Labels: Feature:CI

updates math for documentation
  README.md
Labels: Feature:Documentation

adds automerge to documentation pull requests
  .github/workflows/markdown_math_pull_request.yml
Labels: Feature:CI

Revert "updates math for documentation"
  README.md
Labels: Feature:Documentation

corrects version of automerge action
  .github/workflows/markdown_math_pull_request.yml
Labels: Feature:CI

changes UPDATE_METHOD to merge to merge recent changes from base branch
  .github/workflows/markdown_math_pull_request.yml
Labels: Feature:CI

moves automerge to own workflow
  .github/workflows/automerge.yml
  .github/workflows/markdown_math_pull_request.yml
Labels: Feature:CI

changes acess token
  .github/workflows/automerge.yml
  .github/workflows/markdown_math_pull_request.yml
Labels: Feature:CI

adds personal access token to checkout
  .github/workflows/markdown_math_pull_request.yml
Labels: Feature:CI

updates math for documentation
  README.md
Labels: Feature:Documentation

updates math for documentation
  README.md
Labels: Feature:Documentation

updates math for documentation
  README.md
Labels: Feature:Documentation

removes infinite PR generation
  .github/workflows/automerge.yml
  .github/workflows/markdown_math_pull_request.yml
Labels: Feature:CI

updates math for documentation
  README.md
Labels: Feature:Documentation

updates math for documentation
  README.md
Labels: Feature:Documentation

changes author to pvogt09 to pass DCO test
  .github/workflows/markdown_math_pull_request.yml
Labels: Feature:CI
