Repository pvogt09/gammasyn, pull requests merged in 2020-07, with the labels that each got.

#6 Bugfix/docs
  README.md
  README.tex.md
  docs/svgs/57f60837d7b929d5cf3dc985725e21f4.svg
  docs/svgs/bc65e403576429256350b9e4cb061efb.svg
Labels: Feature:Documentation

#7 fixes error in README.md introduced with the last rebuild
  README.md
Labels: Feature:Documentation

#15 Feature/coupling doc
  README.md
  README.tex.md
  docs/svgs/0cdb20f4cc17f85ede1b6d6ac3cbaaaf.svg
  docs/svgs/0e522a57e0fe8a023037c6b6d4f7a006.svg
  docs/svgs/14330ec69840636094d5efd1aaa8497c.svg
  docs/svgs/498d5adf4367e026127219d184eaaaac.svg
  docs/svgs/5de47f755ef57521e36f9e79e8903048.svg
  docs/svgs/650af7b6abdbed051aff4f46279508d0.svg
  docs/svgs/6551458533230dddbe136f9ec44086af.svg
  docs/svgs/6d853014106627ade5b7d08d062745df.svg
  docs/svgs/77f7e377b6681b54b06cedab816bcebe.svg
  docs/svgs/7a72d6f2d2f9a969e9e0352d438759dd.svg
  docs/svgs/915780e7044163dbc382e1a9f98adea3.svg
  docs/svgs/b2e4b265ecdef5cfddb1af1f0c822c74.svg
  docs/svgs/b347645953717906984eb2b6b9c5edd0.svg
  docs/svgs/cdcd24f908174dd396b6015ecb6aba4b.svg
  docs/svgs/ecac84ee7523f810eef1619d5190ff85.svg
  docs/svgs/f44cb040bfa9a432f2b1cbeb66a38f0c.svg
  docs/svgs/facf054b88ea95ba0659bc479687e5d8.svg
Labels: Feature:Documentation

#18 add automatic documentation generation from Gitlab markdown with math formulae
  .github/actions/texify_markdown/Dockerfile
  .github/actions/texify_markdown/entrypoint.sh
  .github/actions/texify_markdown/texify_markdown.yml
  .github/labeler.yml
  .github/workflows/markdown_math.yml
  README.md
  docs/markdown_gitlab2github.sh
  requirements.txt
Labels: Feature:CI, Feature:Documentation

#19 Revert "add automatic documentation generation from Gitlab markdown with math formulae"
  .github/actions/texify_markdown/Dockerfile
  .github/actions/texify_markdown/entrypoint.sh
  .github/actions/texify_markdown/texify_markdown.yml
  .github/labeler.yml
  .github/workflows/markdown_math.yml
  README.md
  docs/markdown_gitlab2github.sh
  requirements.txt
Labels: Feature:Documentation

#20 add automatic documentation generation from Gitlab markdown with math formulae
  .github/actions/texify_markdown/Dockerfile
  .github/actions/texify_markdown/entrypoint.sh
  .github/actions/texify_markdown/texify_markdown.yml
  .github/labeler.yml
  .github/workflows-deactivated/markdown_math_push.yml
  .github/workflows/automerge.yml
  .github/workflows/markdown_math_pull_request.yml
  docs/markdown_gitlab2github.sh
  requirements.txt
Labels: Feature:CI, Feature:CodeGeneration, Feature:Couplingcontrol, Feature:Documentation, Feature:optimize

#28 corrects infinite PR creation and committer data
  .github/workflows/markdown_math_pull_request.yml
Labels: Feature:CI

#30 updates math for documentation
  README.md
Labels: Feature:Documentation, Status:Automerge

#29 Adds waiting action before automerging
  .github/workflows/automerge.yml
  .github/workflows/markdown_math_pull_request.yml
Labels: Feature:CI, Feature:Documentation

#32 updates math for documentation
  README.md
Labels: Feature:Documentation, Status:Automerge

#31 Rename texify action in waiting action
  .github/workflows/automerge.yml
Labels: Feature:CI, Feature:Documentation

#26 updates math for documentation
  README.md
Labels: Feature:Documentation, Status:Automerge

#33 Add labels to reviewed pull requests
  .github/workflows/automerge.yml
  .github/workflows/labeler_review.yml
  .github/workflows/linters.yamllint
  .github/workflows/linters.yml
  .github/workflows/markdown_math_pull_request.yml
Labels: Feature:CI, Status:Accepted

#34 Update master
  .github/workflows/automerge.yml
  .github/workflows/labeler_review.yml
  .github/workflows/linters.yamllint
  .github/workflows/linters.yml
  .github/workflows/markdown_math_pull_request.yml
Labels: Feature:CI
